{{ define "main" }}
  <main>
    <div class="bg-white bg-opacity-80">
      <div
        class="absolute left-1/2 -translate-x-1/2 pointer-events-none -mt-20 -z-10"
        aria-hidden="true">
        <img
          alt="Illustration"
          loading="lazy"

         
          decoding="async"
          data-nimg="1"
          class="max-w-none w-full h-auto"
          style="color: transparent;"
          src="{{ .Site.BaseURL }}images/blur2.svg" />
      </div>
      <div
        class="mx-auto pb-32 max-w-6xl px-4 pt-48 sm:pt-52 sm:pb-24  flex justify-center">
        <div class="text-center max-w-5xl">
          <div class="mx-auto max-w-4xl sm:px-10">
            <h1
              class="text-4xl font-recoleta font-bold text-gray-900 sm:text-5xl md:text-6xl">
              Committees
            </h1>
          </div>
          <p
            class="pr-10 sm:pr-0 mx-auto mt-4 text-base text-gray-700 sm:text-lg md:mt-6 md:max-w-2xl md:text-xl">
           Meet the people bringing this conference to life
          </p>
   
        </div>
      </div>
    </div>
  </main>
  {{ partial "team" .}}

{{ end }}
