{{ define "main" }}

  <main>
    <div class="relative bg-opacity-20">
      <div
        class="hidden opacity-10 sm:block absolute left-1/2 -translate-x-1/2 pointer-events-none -z-10"
        aria-hidden="true">
        <img
          alt="Hero Background"
          fetchpriority="high"
          width="1440"
          height="1214"
          decoding="async"
          data-nimg="1"
          class="max-w-none"
          style="color: transparent;"
          src="{{ .Site.BaseURL }}images/blur2.svg" />
      </div>
      <div
        class="mx-auto pb-32 max-w-6xl px-4 pt-48 sm:pt-52 sm:pb-24  flex justify-center">
        <div class="text-center max-w-5xl">
          <div class="mx-auto max-w-4xl sm:px-10">
            <h1
              class="text-4xl font-recoleta font-bold text-gray-900 sm:text-5xl md:text-6xl">
              <span
                class="text-transparent bg-clip-text bg-gradient-to-r to-emerald-600 from-sky-400">
                Organizing Team</span
              >
            </h1>
          </div>
          <p
            class="pr-10 sm:pr-0 mx-auto mt-4 text-base text-gray-700 sm:text-lg md:mt-6 md:max-w-2xl md:text-xl">
            Meet the people bringing this conference to life
          </p>
        </div>
      </div>
    </div>
  </main>

  <div class="mx-auto max-w-screen-xl px-4 mb-10">
    <div class="py-20 bg-gray-100">
      <div class="container mx-auto px-6 md:px-12 xl:px-32">
        <div class="grid gap-12 items-center md:grid-cols-3">
         {{ $base := .Site.BaseURL }}
          {{ range .Site.Data.pgs }}
            <div class="space-y-4 text-center">
            {{ if .special }}
                <a id="riz-prof" href="{{ $base }}riz/">
                {{ end }}
              <img
                
                class="w-64 h-64 mx-auto object-cover rounded-xl md:w-40 md:h-40 lg:w-64 lg:h-64 max-w-60  transform transition duration-500 
                                hover:scale-110"
                src="{{ $base }}/photos/{{ .img }}"
                alt="{{ .name }}"
                loading="lazy"
                width="640"
                height="805" />
                  {{ if .special }}
                </a>
                {{ end }}
              <div>
                <h4 class="text-2xl">{{ .name }}</h4>

                <span class="block text-sm text-gray-500"
                  >{{ .committee }}</span
                >
              </div>
            </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
  <script>
(function() {
  const runConfetti = document.querySelector('#riz-prof');
  runConfetti.addEventListener('mouseover', () => {
  confetti("tsparticles", {
    angle: 90,
    particleCount: 200,
    position: { x: 30, y: 50 },
    spread: 90,
    startVelocity: 60,
    decay: 0.9,
    gravity: 1,
    drift: 0,
    ticks: 200,
    scalar: 1,
    zIndex: 2000,
    disableForReducedMotion: true
  });
  });
})();
</script>
{{ end }}
