{{ define "main" }}

<div class="sm:block md:hidden h-10"></div>
<section class=" bg-opacity-40">
  <div class="max-w-7xl mx-auto px-4 sm:px-6">
    <div class="py-12 md:py-20">
      <div class="grid gap-10 md:gap-20">
        <div class="mx-auto max-w-6xl">

          <h3 class="text-4xl font-recoleta mt-12 mb-4 text-center font-semibold"><span
              class="text-transparent bg-clip-text bg-gradient-to-r to-emerald-600 from-indigo-500">Organizing Team </span></h3>
          <p class="max-w-2xl mx-auto text-center text-lg text-slate-700 mb-6"> Meet the spokes of the engines. They
            tirelessly toil behind the scenes to ensure a seamless and enriching experience for all attendees. Each
            member of the team is a brilliant mixture of commitment to excellence, strategic insight, and collaborative
            spirit. </p>
        </div>

  <div class="absolute left-1/2 -translate-x-1/2 pointer-events-none -mt-20 -z-10" aria-hidden="true">
    <img alt="Illustration" loading="lazy" width="1440" height="440" decoding="async" data-nimg="1" class="max-w-none"
      style="color:transparent;opacity:0.3" src="{{.Site.BaseURL}}images/blur2.svg" />
  </div>



        <!-- DR. RIZ-->


        <div
          class="mx-auto max-w-6xl gap-0 md:gap-8 items-center mx-auto xl:gap-16 md:grid md:grid-cols-2 pt-12 pb-6 flex flex-col-reverse">
          <div class="mt-8 md:mt-0">
            <div class="md:pr-4 lg:pr-6 xl:pr-12">
              <h3 class="text-4xl font-recoleta mb-3 font-semibold">
                Dr. <span class="text-indigo-700">Rizwan Ishak Madapeedikekkal</span>
              </h3>
              <p class="text-lg text-slate-700 mb-4">
                Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod tempor incidunt ut labore et dolore
                magna aliqua. Ut enim ad minim veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam,
                nisi ut aliquid ex ea commodi consequatur. Quis aute iure reprehenderit in voluptate velit esse cillum
                dolore eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui
                officia deserunt mollit anim id est laborum
              </p>

            </div>
          </div>
          <img alt="animate-fade-up feature 4 image" loading="lazy" width="600" height="400" decoding="async" data-nimg="1"
            class="w-full shadow rounded-xl" style="color:transparent" srcset="
                {{ .Site.BaseURL }}photos/riz2.webp  1x,
              " src="{{ .Site.BaseURL }}photos/riz2.webp" />
        </div>



        <!-- DR. HEENA CHAWLA-->



        <div class="mx-auto max-w-6xl gap-0 md:gap-8 items-center xl:gap-16 md:grid md:grid-cols-2 py-12">
          <img alt="Branching and variables" loading="lazy" width="600" height="400" decoding="async" data-nimg="1"
            class="w-full shadow rounded-xl" style="color:transparent" srcset="
                {{ .Site.BaseURL }}photos/hc.webp  1x,
                
              " />
          <div class="mt-8 md:mt-0">
            <div class="md:pl-4 lg:pl-6 xl:pl-12">
              <h3 class="text-4xl font-recoleta mb-3 font-semibold">
                Dr. <span class="text-indigo-700">Heena Chawla</span>
              </h3>
              <p class="text-lg text-slate-700 mb-4 text-justify">
                Dr. Heena Chawla is a dedicated and dynamic young medical professional hailing from Kota, Rajasthan.
                Known for her sincerity, discipline, and strong work ethic, she is currently pursuing her postgraduation
                in Community Medicine at Government Medical College, Ratlam. She completed her MBBS from R.D. Gardi
                Medical College, Ujjain, where she developed a keen interest in public health and preventive medicine,
                alongside building a strong foundation in clinical medicine. Apart from her academic and clinical
                interests, Dr. Heena also has a great interest in dance, for her, it is not only a hobby but a way to
                stay connected with herself and maintain balance in her otherwise demanding routine.
              </p>

            </div>
          </div>
        </div>




        <!-- DR. UMESH SINHA -->



        <div
          class="mx-auto max-w-6xl gap-0 md:gap-8 items-center mx-auto xl:gap-16 md:grid md:grid-cols-2 pt-12 pb-6 flex flex-col-reverse">
          <div class="mt-8 md:mt-0">
            <div class="md:pr-4 lg:pr-6 xl:pr-12">
              <h3 class="text-4xl font-recoleta mb-3 font-semibold">
                Dr. <span class="text-indigo-700">Taniya Jonwal</span>
              </h3>
              <p class="text-lg text-slate-700 mb-4 text-justify">
                Dr. Taniya Jonwal hails from the vibrant dunes of Kutch, Gujarat. She completed her undergraduate
                medical education at Smolensk State Medical University in Russia, gaining not only a solid academic
                foundation but also valuable international exposure. Upon returning to India, she served diligently
                under the Gujarat Government for two years, during which she became an active member of the Indian
                Medical Association. In recognition of her dedication to public service and youth leadership, she was
                honored in Delhi with
                the prestigious “Dr. Ketan Desai – National Yuva Leader Award.” Currently, she is pursuing her
                post-graduation in Community Medicine, driven by a deep desire to make a
                meaningful difference at the grassroots level. Her vision is to rise through the public health
                leadership hierarchy, with a strong focus on empowering underserved communities. Outside her medical
                pursuits, she is also passionate about music and enjoys singing as a creative
                outlet.
              </p>

            </div>
          </div>
          <img alt="feature 4 image" loading="lazy" width="600" height="400" decoding="async" data-nimg="1"
            class="w-full shadow rounded-xl" style="color:transparent" srcset="
                {{ .Site.BaseURL }}photos/tj.webp  1x,
      
              " src="" />
        </div>











        <!-- DR. PIYUSHA MAHASHABDE -->

        <div class="mx-auto max-w-6xl gap-0 md:gap-8 items-center xl:gap-16 md:grid md:grid-cols-2 py-12">
          <img alt="Branching and variables" loading="lazy" width="600" height="400" decoding="async" data-nimg="1"
            class="w-full shadow rounded-xl" style="color:transparent" srcset="
                {{ .Site.BaseURL }}photos/raj.webp  1x" />
          <div class="mt-8 md:mt-0">
            <div class="md:pl-4 lg:pl-6 xl:pl-12">
              <h3 class="text-4xl font-recoleta mb-3 font-semibold">
                Dr. <span class="text-indigo-700">Rajkumar Agariya</span>
              </h3>
              <p class="text-lg text-slate-700 mb-4 text-justify">
                Dr. Rajkumar Agriya, currently pursuing postgraduate degree in Community Medicine at Government Medical
                College, Ratlam. With a deep-rooted passion for nature and artistic expression, he envisions a future
                where
                healthcare is both innovative and holistic. Driven by the belief that true healing extends beyond
                conventional medicine, Dr. Agriya seeks to integrate his medical expertise with Community. Through
                community
                outreach, educational initiatives, and compassionate individual care, he is committed to transforming
                the
                landscape of community health with a fresh and humanistic approach.
              </p>

            </div>
          </div>
        </div>





        <!-- DR. SADDAM PATEL -->


        <div
          class="mx-auto max-w-6xl gap-0 md:gap-8 items-center mx-auto xl:gap-16 md:grid md:grid-cols-2 pt-12 pb-6 flex flex-col-reverse">
          <div class="mt-8 md:mt-0">
            <div class="md:pr-4 lg:pr-6 xl:pr-12">
              <h3 class="text-4xl font-recoleta mb-3 font-semibold">
                Dr. <span class="text-indigo-700">Saddam Patel</span>
              </h3>
              <p class="text-lg text-slate-700 mb-4">
                Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod tempor incidunt ut labore et dolore
                magna
                aliqua. Ut enim ad minim veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut
                aliquid ex ea commodi consequatur. Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia
                deserunt
                mollit anim id est laborum
              </p>

            </div>
          </div>
          <img alt="feature 4 image" loading="lazy" width="600" height="400" decoding="async" data-nimg="1"
            class="w-full shadow rounded-xl" style="color:transparent" srcset="
                {{ .Site.BaseURL }}photos/sad.webp  1x" src="" />
        </div>














        <!-- DR. UMA-->

        <div class="mx-auto max-w-6xl gap-0 md:gap-8 items-center xl:gap-16 md:grid md:grid-cols-2 py-12">
          <img alt="Dr. LS Kot" loading="lazy" width="600" height="400" decoding="async" data-nimg="1"
            class="w-full shadow rounded-xl" style="color:transparent" srcset="
                {{ .Site.BaseURL }}photos/um.webp  1x,
              " src="" />
          <div class="mt-8 md:mt-0">
            <div class="md:pl-4 lg:pl-6 xl:pl-12">
              <h3 class="text-4xl font-recoleta mb-3 font-semibold">
                Dr. <span class="text-indigo-700">Umashree Sharma</span>
              </h3>
              <p class="text-lg text-slate-700 mb-4 text-justify">
                Dr. Umashree hails from the beautiful region of Jammu and Kashmir. She completed her undergraduate
                medical
                education at Amaltas Institute of Medical Sciences and is currently pursuing her MD in Preventive and
                Social
                Medicine at GMC Ratlam. Known for her enthusiasm and vibrant personality, she brings positivity and
                energy
                wherever she goes. She believes in empowerment through knowledge and compassion, especially when it
                comes to
                advocating for health equity and inclusive care. Outside of academics, Dr. Umashree has a passion for
                cooking,
                traveling, and exploring her creative side through art and craft.
              </p>

            </div>
          </div>
        </div>






        {{/* SANJU */}}

        <div
          class="mx-auto max-w-6xl gap-0 md:gap-8 items-center mx-auto xl:gap-16 md:grid md:grid-cols-2 pt-12 pb-6 flex flex-col-reverse">
          <div class="mt-8 md:mt-0">
            <div class="md:pr-4 lg:pr-6 xl:pr-12">
              <h3 class="text-4xl font-recoleta mb-3 font-semibold">
                Dr. <span class="text-indigo-700">Sanju Jat</span>
              </h3>
              <p class="text-lg text-slate-700 mb-4 text-justify">
                Dr. Sanju Jat, hailing from Indore, is currently pursuing his Post-graduation in Community Medicine at
                Government
                Medical College, Ratlam. He completed his undergraduate medical education at Index Medical College,
                Hospital and Research Centre Indore. A dedicated and passionate educator, he excels in imparting
                knowledge and inspiring others. Dr. Jat is deeply committed to grass-root level fieldwork, where he
                actively engages with communities to address public health challenges. An avid traveller, he embraces
                opportunities to explore diverse cultures and broaden his perspectives.
              </p>

            </div>
          </div>
          <img alt="feature 4 image" loading="lazy" width="600" height="400" decoding="async" data-nimg="1"
            class="w-full shadow rounded-xl" style="color:transparent" srcset="
                {{ .Site.BaseURL }}photos/sj.webp  1x" src="" />
        </div>



        <!-- DR. HIR-->

        <div class="mx-auto max-w-6xl gap-0 md:gap-8 items-center xl:gap-16 md:grid md:grid-cols-2 py-12">
          <img alt="Dr. LS Kot" loading="lazy" width="600" height="400" decoding="async" data-nimg="1"
            class="w-full shadow rounded-xl" style="color:transparent" srcset="
                {{ .Site.BaseURL }}photos/hir.webp  1x,
              " src="" />
          <div class="mt-8 md:mt-0">
            <div class="md:pl-4 lg:pl-6 xl:pl-12">
              <h3 class="text-4xl font-recoleta mb-3 font-semibold">
                Dr. <span class="text-indigo-700">Hiranya Rajeevan</span>
              </h3>
              <p class="text-lg text-slate-700 mb-4 text-justify">
                Dr. Hiranya Rajeevan, a native of Wayanad, Kerala, is pursuing her post-graduation in Community Medicine
                at Government Medical College, Ratlam. She completed her MBBS from the prestigious Wuhan University
                School of Medicine, gaining valuable international exposure. Passionate about evidence-based public
                health, she is committed to health policy, research, and improving population health. An imaginative
                artist in music and sketching, she aims to contribute her academic training and field experience to
                dynamic healthcare or public health initiatives.
              </p>

            </div>
          </div>
        </div>


        <!-- DR. MAY-->

        <div
          class="mx-auto max-w-6xl gap-0 md:gap-8 items-center mx-auto xl:gap-16 md:grid md:grid-cols-2 pt-12 pb-6 flex flex-col-reverse">
          <div class="mt-8 md:mt-0">
            <div class="md:pr-4 lg:pr-6 xl:pr-12">
              <h3 class="text-4xl font-recoleta mb-3 font-semibold">
                Dr. <span class="text-indigo-700">Mayank Arya</span>
              </h3>
              <p class="text-lg text-slate-700 mb-4 text-justify">
                Lorem ipsum dolor sit amet. Quo tempore distinctio aut velit praesentium qui maxime unde et quae fuga in aperiam obcaecati qui sequi perferendis non praesentium doloribus! Non laborum deleniti et delectus voluptate qui adipisci consectetur. Nam officiis cumque in nemo consequatur et dolorem deserunt! Qui voluptates eveniet qui quidem omnis qui laudantium sunt est recusandae quaerat eum culpa dolorem. Sit dolores vitae nam fuga culpa et rerum Quis. Vel pariatur autem ad accusantium sapiente et quas neque ea reprehenderit internos quo blanditiis obcaecati et fuga assumenda est sequi reiciendis. Rem omnis similique et iste impedit qui illo odit. 
              </p>

            </div>
          </div>
          <img alt="feature 4 image" loading="lazy" width="600" height="400" decoding="async" data-nimg="1"
            class="w-full shadow rounded-xl" style="color:transparent" srcset="
                {{ .Site.BaseURL }}photos/may.webp  1x" src="" />
        </div>


      </div>
</section>
{{ end }}