{{ define "main" }}
  <div
    class="container relative space-y-24 mb-24 lg:space-y-28 lg:mb-28 max-w-7xl mx-auto mt-8">
    <div
      class="flex flex-col-reverse lg:flex-col relative nc-mt-header pt-10 lg:pt-16 w-full">
      <div class="flex flex-col lg:flex-row lg:items-center mt-20 ">
        <div
          class="py-10 flex-shrink-0 lg:w-1/2 flex flex-col items-start space-y-8 sm:space-y-10 pb-4 lg:pb-64 xl:pe-14 lg:me-10 xl:me-0">
          <h1
            class="font-medium text-4xl md:text-5xl xl:text-7xl !leading-[114%] "
            style="font-family: Poppins;">
            Major attractions, and must visit places in Ratlam
          </h1>
        </div>
        <div
          class="absolute inset-x-0 md:top-10 xl:top-40 min-h-0 ps-20 py-24 flex z-0"
          data-sentry-component="BgGlassmorphism"
          data-sentry-source-file="BgGlassmorphism.tsx">
          <span
            class="block bg-[#ef233c] w-72 h-72 rounded-full mix-blend-multiply filter blur-3xl opacity-10 lg:w-96 lg:h-96"></span
          ><span
            class="block bg-[#04868b] w-72 h-72 -ms-20 mt-40 rounded-full mix-blend-multiply filter blur-3xl opacity-10 lg:w-96 lg:h-96 nc-animation-delay-2000"></span>
        </div>

        <div class="flex-grow">
          <div class="w-full grid grid-cols-2 gap-6">
            <div>
              <div class="grid grid-cols-1 gap-6">
                <div>
                  <div
                    class="relative inline-block w-full nc-disable-selection">
                    <img
                      src="https://image.vivolatam.com/eyJidWNrZXQiOiJ2bC1jZG4iLCJrZXkiOiJhc3NldHMvbWVkaWEvZnJvbnRlbmQvcGFnZXMvaG9tZS9oZXJvL2ltZzEucG5nIiwiZWRpdHMiOnsicmVzaXplIjp7IndpZHRoIjozNTgsImhlaWdodCI6MjY1LCJmaXQiOiJjb3ZlciJ9fX0="
                      alt="Vivo Latam collage"
                      width="358"
                      height="265"
                      loading="eager"
                      decoding="async"
                      class="transition-opacity duration-300 opacity-100 visible"
                      style="max-width:100%;height:auto" />
                  </div>
                </div>
                <div>
                  <div
                    class="relative inline-block w-full nc-disable-selection">
                    <img
                      src="https://image.vivolatam.com/eyJidWNrZXQiOiJ2bC1jZG4iLCJrZXkiOiJhc3NldHMvbWVkaWEvZnJvbnRlbmQvcGFnZXMvaG9tZS9oZXJvL2ltZzIucG5nIiwiZWRpdHMiOnsicmVzaXplIjp7IndpZHRoIjozNTgsImhlaWdodCI6NDEwLCJmaXQiOiJjb3ZlciJ9fX0="
                      alt="Vivo Latam collage"
                      width="358"
                      height="410"
                      loading="eager"
                      decoding="async"
                      class="transition-opacity duration-300 opacity-100 visible"
                      style="max-width:100%;height:auto" />
                  </div>
                </div>
              </div>
            </div>
            <div>
              <div class="mt-[5rem]">
                <div class="relative inline-block w-full nc-disable-selection">
                  <img
                    src="https://image.vivolatam.com/eyJidWNrZXQiOiJ2bC1jZG4iLCJrZXkiOiJhc3NldHMvbWVkaWEvZnJvbnRlbmQvcGFnZXMvaG9tZS9oZXJvL2ltZzMucG5nIiwiZWRpdHMiOnsicmVzaXplIjp7IndpZHRoIjozNTgsImhlaWdodCI6NjAwLCJmaXQiOiJjb3ZlciJ9fX0="
                    alt="Vivo Latam collage"
                    width="358"
                    height="600"
                    loading="eager"
                    decoding="async"
                    class="transition-opacity duration-300 opacity-100 visible"
                    style="max-width:100%;height:auto" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{{ end }}
