<!DOCTYPE html>
<html lang=en>
    {{ partial "head" . }}
    <body>
        <div>
            <div id=__next>
                <div class="font-inter font-recoleta font-sans">
                    
                    <div class="relative overflow-hidden">
                        <div class=relative>
                            <!--NAV-->
                            <nav class="bg-transparent absolute w-screen top-0 z-50">
                            
                                <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-2">
                                    <div class="flex justify-between h-16 items-center">
                                        <div class="flex-shrink-0 flex items-center"><a href=https://sczconfratlam.com />
                                            <div><span class=sr-only>Home</span><img alt="sczconfratlam Logo" loading=lazy
                                                    width=400 height=200 decoding=async data-nimg=1
                                                    class="h-6 w-auto sm:h-8" style=color:transparent src="images/eleven.svg">
                                            </div></a>
                                        </div>
                                        <div class="hidden lg:flex lg:items-center lg:space-x-1">
                                            <div class=relative><button
                                                    class="text-gray-800 hover:text-gray-900 px-1 md:px-3 py-2 rounded-md text-sm font-semibold inline-flex items-center">Committees</button></div>
                                            <div class=relative><button
                                                    class="text-gray-800 hover:text-gray-900 px-1 md:px-3 py-2 rounded-md text-sm font-semibold inline-flex items-center">Schedules</button></div>
                                            <div class=relative><button
                                                    class="text-gray-800 hover:text-gray-900 px-1 md:px-3 py-2 rounded-md text-sm font-semibold inline-flex items-center">Rules and Guidelines</button></div><a
                                                class="text-gray-800 hover:text-gray-900 px-1 md:px-3 py-2 rounded-md text-sm font-semibold"
                                                href=https://sczconfratlam.com/product-demo>Theme</a><a
                                                class="text-gray-800 hover:text-gray-900 px-1 md:px-3 py-2 rounded-md text-sm font-semibold"
                                                href=https://sczconfratlam.com/pricing>Contact</a>
                                        </div>
                                        <div class="hidden lg:flex lg:items-center lg:space-x-4"><a
                                                class="text-gray-700 hover:text-gray-900 px-1 md:px-3 py-2 rounded-md text-sm font-semibold"
                                                href="https://app.sczconfratlam.com/login?utm_source=website&amp;utm_medium=navbar_cta&amp;utm_campaign=navbar_cta">Submit Abstract</a><a
                                                class="group text-sm font-medium inline-flex justify-center px-4 py-3 border border-transparent text-center rounded-lg text-white bg-indigo-700 hover:bg-indigo-800 ml-3"
                                                href="https://app.sczconfratlam.com/new/cm0dxeyja0096cvtfxvmniocw?auth=open">Register</a></div>
                                        <div class="lg:hidden sf-hidden"></div>
                                    </div>
                                </div>
                            </nav>


	                        {{ block "main" . }}{{ end }}

                            {{ partial "footer" . }}
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id=sczconfratlam-modal-container style=display:none;position:fixed;inset:0px;z-index:2147483646>
    </div>
	<next-route-announcer>
		<p aria-live=assertive id=__next-route-announcer__ role=alert
			style=border:0px;clip:rect(0px,0px,0px,0px);height:1px;margin:-1px;overflow:hidden;padding:0px;position:absolute;top:0px;width:1px;white-space:nowrap;overflow-wrap:normal>
		</p>
	</next-route-announcer>
	<div id=warmly-widget style=z-index:2147483647;position:fixed>
        <template shadowrootmode=open>
			<div id=widget-root>
				<div id=widget-container class=tss-184zcbx-widgetContainer>
					<div class=tss-1s6cshm-backdropContainer style=opacity:0;visibility:hidden>Hello</div>
					<div style=opacity:0;transform:scale(0.75,0.5625);visibility:hidden
						class="widget-panel-container widget-panel-container-closed tss-gtkn4b-panelAnimationContainer sf-hidden">
					</div>
				</div>
			</div>
		</template>
		<div style=display:none></div>
	</div>
	<script
		data-template-shadow-root>(() => { document.currentScript.remove(); processNode(document); function processNode(node) { node.querySelectorAll("template[shadowrootmode]").forEach(element => { let shadowRoot = element.parentElement.shadowRoot; if (!shadowRoot) { try { shadowRoot = element.parentElement.attachShadow({ mode: element.getAttribute("shadowrootmode") }); shadowRoot.innerHTML = element.innerHTML; element.remove() } catch (error) { } if (shadowRoot) { processNode(shadowRoot) } } }) } })()
    </script>
</body>
</html>