<!doctype html>
<html lang="en">
  {{ partial "head" . }}
  <body>
    <div>
      <div id="__next">
        <div class="font-inter font-sans">
          <div class="relative overflow-hidden">
            <div class="relative">
              {{ partial "nav4" . }}

              {{ block "main" . }}{{ end }}

              {{ partial "footer" . }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      id="sczconfratlam-modal-container"
      style="display:none;position:fixed;inset:0px;z-index:2147483646"></div>
    <next-route-announcer>
      <p
        aria-live="assertive"
        id="__next-route-announcer__"
        role="alert"
        style="border:0px;clip:rect(0px,0px,0px,0px);height:1px;margin:-1px;overflow:hidden;padding:0px;position:absolute;top:0px;width:1px;white-space:nowrap;overflow-wrap:normal"></p>
    </next-route-announcer>
    <div id="warmly-widget" style="z-index:2147483647;position:fixed">
      <template shadowrootmode="open">
        <div id="widget-root">
          <div id="widget-container" class="tss-184zcbx-widgetContainer">
            <div
              class="tss-1s6cshm-backdropContainer"
              style="opacity:0;visibility:hidden">
              Hello
            </div>
            <div
              style="opacity:0;transform:scale(0.75,0.5625);visibility:hidden"
              class="widget-panel-container widget-panel-container-closed tss-gtkn4b-panelAnimationContainer sf-hidden"></div>
          </div>
        </div>
      </template>
      <div style="display:none"></div>
    </div>
    <script data-template-shadow-root>
      (() => {
        document.currentScript.remove();
        processNode(document);
        function processNode(node) {
          node
            .querySelectorAll("template[shadowrootmode]")
            .forEach((element) => {
              let shadowRoot = element.parentElement.shadowRoot;
              if (!shadowRoot) {
                try {
                  shadowRoot = element.parentElement.attachShadow({
                    mode: element.getAttribute("shadowrootmode"),
                  });
                  shadowRoot.innerHTML = element.innerHTML;
                  element.remove();
                } catch (error) {}
                if (shadowRoot) {
                  processNode(shadowRoot);
                }
              }
            });
        }
      })();
    </script>
  </body>
</html>
