       <div class="wrapper tldKbR">
                <ol start="1">
                    <li>
                        <img src="https://assets.codepen.io/85648/Arooj-Aftab.webp" alt="Arooj Aftab album cover" />
                        <span>Arooj Aftab</span>
                        <span>Vulture Prince</span>
                    </li>
                    <li>
                        <span>Dave</span>
                        <span>We’re All Alone in This Together</span>
                    </li>
                    <li>
                        <span>Turnstile</span>
                        <span>Glow On</span>
                    </li>
                    <li>
                        <span>Tirzah</span>
                        <span>Colourgrade</span>
                    </li>
                    <li>
                        <img src="https://assets.codepen.io/85648/deafheaven.webp" alt="deafheaven album cover" />
                        <span>Deafheaven</span>
                        <span>Infinite Granite</span>
                    </li>
                    <li>
                        <span>Nick Cave and Warren Ellis</span>
                        <span>Carnage</span>
                    </li>
                    <li>
                        <img src="https://assets.codepen.io/85648/lil-nas-x-2.jpg" alt="Lil Nas X album cover" />
                        <span>Lil Nas X</span>
                        <span>Montero</span>
                    </li>
                    <li>
                        <img src="https://assets.codepen.io/85648/japanese-breakfast.webp"
                            alt="Japanese Breakfast album cover" />
                        <span>Japanese Breakfast</span>
                        <span>Jubilee</span>
                    </li>
                    <li>
                        <span>Jazmine Sullivan</span>
                        <span>Heaux Tales</span>
                    </li>
                    <li>
                        <img src="https://assets.codepen.io/85648/sam-fender.webp" alt="Sam Fender album cover" />
                        <span>Sam Fender</span>
                        <span>Seventeen Going Under</span>
                    </li>
                </ol>

                <section class="divider">
                    <div class="wrapper">
                        <h2></h2>
                        {{/*  <p>Thousands of tickets available now for the artists you love.</p>  */}}
                        {{/*  <a href="#0">Get tickets</a>  */}}
                    </div>
                </section>

                <ol  start="10">
                    <li>
                        <span>Mdou Moctar</span>
                        <span>Afrique Victime</span>
                    </li>
                    <li>
                        <img src="https://assets.codepen.io/85648/arlo-parks.jpg" alt="Arlo Parks album cover" />
                        <span>Arlo Parks</span>
                        <span>Collapsed in Sunbeams</span>
                    </li>
                    <li>
                        <span>Olivia Rodrigo</span>
                        <span>Sour</span>
                    </li>
                    <li>
                        <span>Dry Cleaning</span>
                        <span>New Long Leg</span>
                    </li>
                    <li>
                        <span>Sault</span>
                        <span>Nine</span>
                    </li>
                    <li>
                        <span>Tyler, the Creator</span>
                        <span>Call Me If You Get Lost</span>
                    </li>
                    <li>
                        <img src="https://assets.codepen.io/85648/weather-station.webp"
                            alt="the weather station album cover" />
                        <span>The Weather Station</span>
                        <span>Ignorance</span>
                    </li>
                    <li>
                        <span>Little Simz</span>
                        <span>Sometimes I Might Be Introvert</span>
                    </li>
                    <li>
                        <img src="https://assets.codepen.io/85648/wolf-alice.webp" / alt="Wolf Alic album cover">
                        <span>Wolf Alice</span>
                        <span>Blue Weekend</span>
                    </li>
                    <li>
                        <img src="https://assets.codepen.io/85648/self-esteem.jpg" alt="Self Esteem album cover" />
                        <span>Self Esteem</span>
                        <span>Prioritise Pleasure</span>
                    </li>
                </ol>
            </div>