<!-- component -->
<section class="relative bg-transparent">
  <div
    class=" flex flex-col-reverse md:flex-row justify-center items-center max-w-screen-xl mx-auto">
    <!-- Left: Image -->
    <div class="">
     <a target="_blank" href="https://drive.google.com/uc?export=download&id=1OALxUvs1rHQYYhTfXPo8aLu9pGHzq2kj">
      <img
        srcset="
          {{ .Site.BaseURL }}images/brochure-small.webp 480w,
          {{ .Site.BaseURL }}images/brochure-big.webp   800w
        "
        src="{{ .Site.BaseURL }}images/brochure-big.webp"
        alt="Brochure"
        class="max-h-144 shadow-xl sm:pt-2 md:pt-0 hover:shadow-3xl" /></a>
           <a class="md:hidden mt-4 flex justify-center items-center button-36 w-full" target="_blank"
        href="https://drive.google.com/uc?export=download&id=1OALxUvs1rHQYYhTfXPo8aLu9pGHzq2kj">Download
       </a>
    </div>
    <!-- Right: Login Form -->
    <div class="px-10">
      <h2
        class="text-5xl sm:text-4xl lg:text-5xl font-recoleta mb-6 font-semibold text-grey-800 text-center">
        Conference Brochure
      </h2>
      <a class="hidden md:flex justify-center items-center button-36 w-full" target="_blank"
        href="https://drive.google.com/uc?export=download&id=1OALxUvs1rHQYYhTfXPo8aLu9pGHzq2kj">Download
       </a>
    </div>
  </div>
</section>

<!-- HTML !-->

<style>
  .button-36 {
    background-image: linear-gradient(
      92.88deg,
      #455eb5 9.16%,
      #5643cc 43.89%,
      #673fd7 64.72%
    );
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    flex-shrink: 0;
    font-family:
      "Inter UI",
      "SF Pro Display",
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      "Open Sans",
      "Helvetica Neue",
      sans-serif;
    font-size: 16px;
    font-weight: 500;
    height: 4rem;
    padding: 0 1.6rem;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
    transition: all 0.5s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }

  .button-36:hover {
    box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
    transition-duration: 0.1s;
  }

  @media (min-width: 768px) {
    .button-36 {
      padding: 0 2.6rem;
    }
  }
</style>
