<div class="flex items-start justify-center w-full gap-4 count-down-main">
    <div class="timer w-16">
    <div
    class=" bg-slate-900 py-4 px-2 rounded-lg overflow-hidden">
    <h3
      class="countdown-element days font-Cormorant font-semibold text-2xl text-white text-center">
    </h3>
    </div>
    <p class="text-lg font-Cormorant font-medium text-gray-900 mt-1 text-center w-full">days</p>
    </div>
    <h3 class="font-manrope font-semibold text-2xl text-gray-900"></h3>
    <div class="timer w-16">
    <div
    class=" bg-slate-900 py-4 px-2 rounded-lg overflow-hidden">
    <h3
      class="countdown-element hours font-Cormorant font-semibold text-2xl text-white text-center">
    </h3>
    </div>
    <p class="text-lg font-Cormorant font-normal text-gray-900 mt-1 text-center w-full">hours</p>
    </div>
    <h3 class="font-manrope font-semibold text-2xl text-gray-900"></h3>
    <div class="timer w-16">
    <div
    class=" bg-slate-900 py-4 px-2 rounded-lg overflow-hidden">
    <h3
      class="countdown-element minutes font-Cormorant font-semibold text-2xl text-white text-center">
    </h3>
    </div>
    <p class="text-lg font-Cormorant font-normal text-gray-900 mt-1 text-center w-full">minutes</p>
    </div>
    <h3 class="font-manrope font-semibold text-2xl text-gray-900"></h3>
    <div class="timer w-16">
    <div
    class=" bg-slate-900 py-4 px-2 rounded-lg overflow-hidden ">
    <h3
      class="countdown-element seconds font-Cormorant font-semibold text-2xl text-white text-center animate-countinsecond">
    </h3>
    </div>
    <p class="text-lg font-Cormorant font-normal text-gray-900 mt-1 text-center w-full">seconds</p>
    </div>
    </div>
                        