<section>
  <!-- Container -->
  <div class="mx-auto w-full max-w-7xl px-5 py-16 md:px-10 md:py-10">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
      <!-- FactsCard -->
      <div
        class="bg-amber-100 rounded-lg py-10 px-5 flex flex-col justify-between h-80">
        <div class="text-xl font-semibold">
          <h3>200+</h3>
          <p>Delegates</p>
        </div>
        <p class="mt-4 text-sm">
          A diverse group consisting of epidemiologists, policy-makers, health workers, and academic researchers, thought leaders, visionaries, experts and students from all over Madhya Pradesh and Chattisgarh.
        </p>
      </div>
      <!-- FactsCard -->
      <div
        class="bg-indigo-100 rounded-lg py-10 px-5 flex flex-col justify-between h-80">
        <div class="text-xl font-semibold">
          <h3>20+</h3>
          <p>Plenary Addresses</p>
        </div>
        <p class="mt-4 text-sm">
          Covering cutting edge advances in public health, ideas and experiences of some of the best professionals in the stream of Community Medicine. Plenary sessions in IAPSM Zonal conferences are the best benchmarks of growing interest in Community Medicine.
        </p>
      </div>
      <!-- FactsCard -->
      <div
        class="bg-violet-100 rounded-lg py-10 px-5 flex flex-col justify-between h-80">
        <div class="text-xl font-semibold">
          <h3>100+</h3>
          <p>Paper Presentations</p>
        </div>
        <p class="mt-4 text-sm">
          A curated selection showcasing the future of public health, where postgraduate residents present their findings highlighting a rich selection of topics spanning multiple areas of public health.
        </p>
      </div>
      <!-- FactsCard -->
      <div
        class="bg-rose-100 rounded-lg py-10 px-5 flex flex-col justify-between h-80">
        <div class="text-xl font-semibold">
          <h3>Sumptious</h3>
          <p>Banquet</p>
        </div>
        <p class="mt-4 text-sm">
          Laughter, music and delicacies from the heartland of India. A unique oppurtunity to let loose alongside people who share your vision.
        </p>
      </div>
    </div>
  </div>
</section>
