
<section>
  <!-- Container -->
  <div class="mx-auto w-full max-w-7xl px-5 py-16 md:px-10 md:py-20">
   
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
      <!-- FactsCard -->
      <div class="bg-amber-100 rounded-lg py-10 px-5 flex flex-col justify-between h-80">
        <div class="text-xl font-semibold">
          <h3>200+</h3>
          <p>Delegates</p>
        </div>
        <p class="mt-4 text-sm"> orem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrum. </p>
      </div>
      <!-- FactsCard -->
      <div class="bg-indigo-100 rounded-lg py-10 px-5 flex flex-col justify-between h-80">
        <div class="text-xl font-semibold">
          <h3>20+</h3>
          <p>Plenary Addresses</p>
        </div>
        <p class="mt-4 text-sm"> orem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrum. </p>
      </div>
      <!-- FactsCard -->
      <div class="bg-violet-100 rounded-lg py-10 px-5 flex flex-col justify-between h-80">
        <div class="text-xl font-semibold">
          <h3>100+</h3>
          <p>Paper Presentations</p>
        </div>
        <p class="mt-4 text-sm"> orem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrum. </p>
      </div>
      <!-- FactsCard -->
      <div class="bg-rose-100 rounded-lg py-10 px-5 flex flex-col justify-between h-80">
        <div class="text-xl font-semibold">
          <h3>Sumptious</h3>
          <p>Banquet</p>
        </div>
        <p class="mt-4 text-sm"> orem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrum. </p>
      </div>
    </div>
  </div>
</section>