<footer class="bg-gray-900">
  <div class="max-w-7xl mx-auto px-4 sm:px-6">
    <div
      class="grid sm:grid-cols-12 lg:grid-cols-10 gap-6 sm:gap-8 py-8 md:py-12">
      <div class="sm:col-span-12 lg:col-span-2 lg:max-w-xs">
        <div class="mb-2">
          <a
            class="inline-flex"
            aria-label="sczconfratlam"
            href="{{ .Site.BaseURL }}">
            <div>
              <span class="sr-only">sczconfratlam</span
              ><img
                alt="sczconfratlam Logo Footer"
                loading="lazy"
                width="200"
                height="200"
                decoding="async"
                data-nimg="1"
                class="h-6 w-auto sm:h-6"
                style="color:transparent"
                src="{{ .Site.BaseURL }}images/eleven.svg" /></div
          ></a>
        </div>
        <p class="text-slate-300 text-sm max-w-[200px] text-center">
          11<sup>th</sup> South Central Zone IAPSM Conference, Ratlam -
          Revitalizing public health: Unifying efforts through innovation and
          collaboration.
        </p>
        <img
          alt="SOC2 Type 2 Logo"
          loading="lazy"
      
          decoding="async"
          data-nimg="1"
          class="h-32 w-auto mt-4 mx-auto"
          style="color:transparent"
          srcset
          src="{{ .Site.BaseURL }}logo.webp"
          sizes />
      </div>
      <div class="sm:col-span-6 md:col-span-3 lg:col-span-2">
        <p
          class="text-sm text-indigo-100 font-semibold uppercase font-recoleta mb-3">
          Site Map
        </p>

        <ul class="text-sm space-y-2">
          <li>
            <a
              class="text-slate-300 hover:text-slate-100 transition duration-150 ease-in-out"
              href="{{ .Site.BaseURL }}"
              >Home</a
            >
          </li>

          <li>
            <a
              class="text-slate-300 hover:text-slate-100 transition duration-150 ease-in-out"
              href="{{ .Site.BaseURL }}org-com/"
              >Organizing Committee</a
            >
          </li>

          <li>
            <a
              class="text-slate-300 hover:text-slate-100 transition duration-150 ease-in-out"
              href="{{ .Site.BaseURL }}org-team/"
              >Organizing Team</a
            >
          </li>

          <li>
            <a
              class="text-slate-300 hover:text-slate-100 transition duration-150 ease-in-out"
              href="{{ .Site.BaseURL }}iapsm/"
              >IAPSM Office Bearers</a
            >
          </li>

          <li>
            <a
              class="text-slate-300 hover:text-slate-100 transition duration-150 ease-in-out"
              href="{{ .Site.BaseURL }}about/college/"
              >About College</a
            >
          </li>

          <li>
            <a
              class="text-slate-300 hover:text-slate-100 transition duration-150 ease-in-out"
              href="{{ .Site.BaseURL }}about/dept/"
              >About Department</a
            >
          </li>

          <li>
            <a
              class="text-slate-300 hover:text-slate-100 transition duration-150 ease-in-out"
              href="{{ .Site.BaseURL }}about/iapsm/"
              >About IAPSM</a
            >
          </li>

          <li>
            <a
              class="text-slate-300 hover:text-slate-100 transition duration-150 ease-in-out"
              href="{{ .Site.BaseURL }}about/ratlam/"
              >About Ratlam</a
            >
          </li>
        </ul>
        <p
          class="text-sm text-indigo-100 font-semibold uppercase font-recoleta mt-8 mb-3">
          Rules and Regulations
        </p>

        <ul class="text-sm space-y-2">
          <li>
            <a
              class="text-slate-300 hover:text-slate-100 transition duration-150 ease-in-out"
              href="{{ .Site.BaseURL }}rules/"
              >Abstract Submission</a
            >
          </li>
          <li>
            <a
              class="text-slate-300 hover:text-slate-100 transition duration-150 ease-in-out"
              href="{{ .Site.BaseURL }}oral/"
              >Oral Paper Presentation</a
            >
          </li>
          <li>
            <a
              class="text-slate-300 hover:text-slate-100 transition duration-150 ease-in-out"
              href="{{ .Site.BaseURL }}poster/"
              >Poster Presentations</a
            >
          </li>
        </ul>
      </div>
      <div class="sm:col-span-6 md:col-span-3 lg:col-span-2">
        <p
          class="text-sm text-indigo-100 font-semibold uppercase font-recoleta mb-3">
          Site Map
        </p>

        <ul class="text-sm space-y-2">
         {{ range .Site.Data.selflinks }}
            <li>
              <a
                class="text-slate-300 hover:text-slate-100 transition duration-150 ease-in-out"
                href="{{ .link }}"
                >{{ .name }}</a
              >
            </li>
          {{ end }}
         
        </ul>
      </div>
      <div class="sm:col-span-6 md:col-span-3 lg:col-span-2">
        <p
          class="text-sm text-indigo-100 font-semibold uppercase font-recoleta mb-3">
          IAPSM
        </p>

        <ul class="text-sm space-y-2">
          {{ range .Site.Data.extlinks }}
            <li>
              <a
                class="text-slate-300 hover:text-slate-100 transition duration-150 ease-in-out"
                href="{{ .link }}"
                >{{ .name }}</a
              >
            </li>
          {{ end }}
          <li>
            <a
              class="text-slate-300 hover:text-slate-100 transition duration-150 ease-in-out"
              href="https://iapsm.org/team-2025-26.html"
              >Team 2025-26
              <span
                class="ml-1 px-2 py-1 bg-emerald-700 text-[10px] rounded-xl align-middle text-white"
                >New</span
              ></a
            >
          </li>
        </ul>
      </div>
      <div class="sm:col-span-12 lg:col-span-2 lg:max-w-xs">
        <div class="mb-2">
         
        </div>
        
        <img
          alt="SOC2 Type 2 Logo"
          loading="lazy"
          width="400"
          height="200"
          decoding="async"
          data-nimg="1"
          class="w-auto mt-4 h-32"
          style="color:transparent"
          srcset
          src="{{ .Site.BaseURL }}images/logocol.png"
          sizes />
           <img
          alt="SOC2 Type 2 Logo"
          loading="lazy"
          width="400"
          height="200"
          decoding="async"
          data-nimg="1"
          class="h-32 w-auto mt-4"
          style="color:transparent"
          srcset
          src="{{ .Site.BaseURL }}images/logo-iapsm.png"
          sizes />
      </div>
    </div>
    <div class="md:flex md:items-center md:justify-between pb-4 md:pb-8">
      <ul
        class="flex mb-4 md:order-1 md:ml-4 md:mb-0 text-xs"
        style="display:none">
        <li>
          <a
            class="flex justify-center items-center text-slate-200 hover:text-slate-300 transition duration-150 ease-in-out"
            aria-label="Twitter"
            href="{{ .Site.BaseURL }}"
            >X / Twitter</a
          >
        </li>

        <li class="ml-2">
          <a
            class="flex justify-center items-center text-slate-200 hover:text-slate-300 transition duration-150 ease-in-out"
            aria-label="Linkedin"
            href="{{ .Site.BaseURL }}"
            >LinkedIn</a
          >
        </li>

        <li class="ml-2">
          <a
            class="flex justify-center items-center text-slate-200 hover:text-slate-300 transition duration-150 ease-in-out"
            aria-label="YouTube"
            href="{{ .Site.BaseURL }}"
            >YouTube</a
          >
        </li>

        <li class="ml-2">
          <a
            class="flex justify-center items-center text-slate-200 hover:text-slate-300 transition duration-150 ease-in-out"
            aria-label="TikTok"
            href="{{ .Site.BaseURL }}"
            >TikTok</a
          >
        </li>
      </ul>
      <div class="text-xs text-slate-600">
        <p
          class="text-slate-300 hover:text-slate-100 transition duration-150 ease-in-out">
          Dr. Rizwan Ishak Madapeedikekkal. All Rights Reserved.
        </p>
      </div>
    </div>
  </div>
</footer>
