<footer class=bg-gray-900>
    <div class="max-w-7xl mx-auto px-4 sm:px-6">
        <div class="grid sm:grid-cols-12 lg:grid-cols-10 gap-6 sm:gap-8 py-8 md:py-12">
            <div class="sm:col-span-12 lg:col-span-2 lg:max-w-xs">
                <div class=mb-2><a class=inline-flex aria-label=sczconfratlam
                        href="{{ .Site.BaseURL }}">
                    <div><span class=sr-only>sczconfratlam</span><img alt="sczconfratlam Logo Footer"
                            loading=lazy width=200 height=200 decoding=async data-nimg=1
                            class="h-6 w-auto sm:h-6" style=color:transparent src="{{ .Site.BaseURL }}images/eleven.svg">
                    </div></a>
                </div>
                <p class="text-slate-300 text-sm max-w-[200px]">Lorem ipsum dolor sit amet. Ut sunt quia ut dolore consequatur ut.</p><img alt="SOC2 Type 2 Logo" loading=lazy
                    width=400 height=200 decoding=async data-nimg=1 class="h-28 w-auto mt-4"
                    style=color:transparent srcset src="{{ .Site.BaseURL }}images/59.webp" sizes>
            </div>
            <div class="sm:col-span-6 md:col-span-3 lg:col-span-2">
                <p class="text-sm text-indigo-100 font-semibold uppercase font-recoleta mb-3">
                    Links
                <ul class="text-sm space-y-2">
                    <li><a class="text-slate-300 hover:text-slate-100 transition duration-150 ease-in-out"
                            href="{{ .Site.BaseURL }}">Home</a>
                    <li><a class="text-slate-300 hover:text-slate-100 transition duration-150 ease-in-out"
                            href="{{ .Site.BaseURL }}">Organizing Committee</a>
                    <li><a class="text-slate-300 hover:text-slate-100 transition duration-150 ease-in-out"
                            href="{{ .Site.BaseURL }}">Organizing Team</a>
                    <li><a class="text-slate-300 hover:text-slate-100 transition duration-150 ease-in-out"
                            href="{{ .Site.BaseURL }}">IAPSM Office Bearers</a>
                    <li><a class="text-slate-300 hover:text-slate-100 transition duration-150 ease-in-out"
                            href="{{ .Site.BaseURL }}">About College</a>
                    <li><a class="text-slate-300 hover:text-slate-100 transition duration-150 ease-in-out"
                            href="{{ .Site.BaseURL }}">About Department</a>
                    <li><a class="text-slate-300 hover:text-slate-100 transition duration-150 ease-in-out"
                            href="{{ .Site.BaseURL }}">About IAPSM</a>
                    <li><a class="text-slate-300 hover:text-slate-100 transition duration-150 ease-in-out"
                            href="{{ .Site.BaseURL }}">About Ratlam</a>
                </ul>
                <p
                    class="text-sm text-indigo-100 font-semibold uppercase font-recoleta mt-8 mb-3">
                    Rules and Regulations
                <ul class="text-sm space-y-2">
                    <li><a class="text-slate-300 hover:text-slate-100 transition duration-150 ease-in-out"
                            href="{{ .Site.BaseURL }}">Abstract Submission</a></li>
                    <li><a class="text-slate-300 hover:text-slate-100 transition duration-150 ease-in-out"
                            href="{{ .Site.BaseURL }}">Oral Paper Presentation</a></li>
                    <li><a class="text-slate-300 hover:text-slate-100 transition duration-150 ease-in-out"
                            href="{{ .Site.BaseURL }}">Poster Presentations</a></li>
                </ul>
            </div>
            <div class="sm:col-span-6 md:col-span-3 lg:col-span-2">
                <p class="text-sm text-indigo-100 font-semibold uppercase font-recoleta mb-3">
                    Links 1
                <ul class="text-sm space-y-2">
                   <li><a class="text-slate-300 hover:text-slate-100 transition duration-150 ease-in-out"
                            href="{{ .Site.BaseURL }}">Home</a></li>
                    <li><a class="text-slate-300 hover:text-slate-100 transition duration-150 ease-in-out"
                            href="{{ .Site.BaseURL }}">Organizing Committee</a></li>
                    <li><a class="text-slate-300 hover:text-slate-100 transition duration-150 ease-in-out"
                            href="{{ .Site.BaseURL }}">Organizing Team</a></li>
                    <li><a class="text-slate-300 hover:text-slate-100 transition duration-150 ease-in-out"
                            href="{{ .Site.BaseURL }}">IAPSM Office Bearers</a></li>
                    <li><a class="text-slate-300 hover:text-slate-100 transition duration-150 ease-in-out"
                            href="{{ .Site.BaseURL }}">About College</a></li>
                    <li><a class="text-slate-300 hover:text-slate-100 transition duration-150 ease-in-out"
                            href="{{ .Site.BaseURL }}">About Department</a></li>
                    <li><a class="text-slate-300 hover:text-slate-100 transition duration-150 ease-in-out"
                            href="{{ .Site.BaseURL }}">About IAPSM</a></li>
                    <li><a class="text-slate-300 hover:text-slate-100 transition duration-150 ease-in-out"
                            href="{{ .Site.BaseURL }}">About Ratlam</a></li>
                    <li><a class="text-slate-300 hover:text-slate-100 transition duration-150 ease-in-out"
                            href="Theme">Theme </a></li>
                    <li><a class="text-slate-300 hover:text-slate-100 transition duration-150 ease-in-out"
                            href="{{ .Site.BaseURL }}">Rules and Regulations</a></li>
                 <li><a class="text-slate-300 hover:text-slate-100 transition duration-150 ease-in-out"
                            href="{{ .Site.BaseURL }}">Rules and Regulations</a></li>
                             <li><a class="text-slate-300 hover:text-slate-100 transition duration-150 ease-in-out"
                            href="{{ .Site.BaseURL }}">Rules and Regulations</a></li>
                             <li><a class="text-slate-300 hover:text-slate-100 transition duration-150 ease-in-out"
                            href="{{ .Site.BaseURL }}">Rules and Regulations</a></li>
                </ul>
            </div>
            <div class="sm:col-span-6 md:col-span-3 lg:col-span-2">
                <p class="text-sm text-indigo-100 font-semibold uppercase font-recoleta mb-3">
                    Links 2
                <ul class="text-sm space-y-2">
                    <li><a class="text-slate-300 hover:text-slate-100 transition duration-150 ease-in-out"
                            href="{{ .Site.BaseURL }}">Lorem ipsum</a>
                    <li><a class="text-slate-300 hover:text-slate-100 transition duration-150 ease-in-out"
                            href="{{ .Site.BaseURL }}">Lorem ipsum</a>
                    <li><a class="text-slate-300 hover:text-slate-100 transition duration-150 ease-in-out"
                            href="{{ .Site.BaseURL }}">Lorem ipsum</a>
                    <li><a class="text-slate-300 hover:text-slate-100 transition duration-150 ease-in-out"
                            href="{{ .Site.BaseURL }}">Ad nostrum</a>
                    <li><a class="text-slate-300 hover:text-slate-100 transition duration-150 ease-in-out"
                            href="{{ .Site.BaseURL }}">Lorem ipsum</a>
                    <li><a class="text-slate-300 hover:text-slate-100 transition duration-150 ease-in-out"
                            href="{{ .Site.BaseURL }}">Lorem ipsum AI</a>
                    <li><a class="text-slate-300 hover:text-slate-100 transition duration-150 ease-in-out"
                            href="{{ .Site.BaseURL }}">Ad nostrum</a>
                    <li><a class="text-slate-300 hover:text-slate-100 transition duration-150 ease-in-out"
                            href="{{ .Site.BaseURL }}">Lorem ipsum</a>
                    <li><a class="text-slate-300 hover:text-slate-100 transition duration-150 ease-in-out"
                            href="{{ .Site.BaseURL }}">Lorem ipsum</a>
                    <li><a class="text-slate-300 hover:text-slate-100 transition duration-150 ease-in-out"
                            href="{{ .Site.BaseURL }}">Lorem ipsum <span
                                class="ml-1 px-2 py-1 bg-emerald-700 text-[10px] rounded-xl align-middle text-white">New</span></a>
                    <li><a class="text-slate-300 hover:text-slate-100 transition duration-150 ease-in-out"
                            href="{{ .Site.BaseURL }}">Lorem ipsum <span
                                class="ml-1 px-2 py-1 bg-emerald-700 text-[10px] rounded-xl align-middle text-white">New</span></a>
                    <li><a class="text-slate-300 hover:text-slate-100 transition duration-150 ease-in-out"
                            href="{{ .Site.BaseURL }}">Lorem ipsum</a>
                    <li><a class="text-slate-300 hover:text-slate-100 transition duration-150 ease-in-out"
                            href="{{ .Site.BaseURL }}">Lorem ipsum</a>
                    <li><a class="text-slate-300 hover:text-slate-100 transition duration-150 ease-in-out"
                            href="{{ .Site.BaseURL }}">Lorem ipsum</a>
                </ul>
            </div>
            <div class="sm:col-span-6 md:col-span-3 lg:col-span-2">
                <p class="text-indigo-100 mb-3"><span
                        class="font-recoleta font-semibold uppercase text-sm">Lorem ipsum</span>
                    <span
                        class="font-inter ml-1 px-2 py-1 bg-emerald-700 text-[10px] rounded-xl align-middle text-white">New</span>
                <ul class="text-sm space-y-2">
                    <li><a class="text-slate-300 hover:text-slate-100 transition duration-150 ease-in-out"
                            href="{{ .Site.BaseURL }}">Lorem ipsum</a>
                    <li><a class="text-slate-300 hover:text-slate-100 transition duration-150 ease-in-out"
                            href="{{ .Site.BaseURL }}">Ad nostrum</a>
                    <li><a class="text-slate-300 hover:text-slate-100 transition duration-150 ease-in-out"
                            href="{{ .Site.BaseURL }}">Lorem ipsum</a>
                    <li><a class="text-slate-300 hover:text-slate-100 transition duration-150 ease-in-out"
                            href="{{ .Site.BaseURL }}">Lorem ipsum</a>
                    <li><a class="text-slate-300 hover:text-slate-100 transition duration-150 ease-in-out"
                            href="{{ .Site.BaseURL }}">Lorem ipsum</a>
                    <li><a class="text-slate-300 hover:text-slate-100 transition duration-150 ease-in-out"
                            href="{{ .Site.BaseURL }}">Ad nostrum</a>
                    <li><a class="text-slate-300 hover:text-slate-100 transition duration-150 ease-in-out"
                            href="{{ .Site.BaseURL }}">Lorem ipsum</a>
                    <li><a class="text-slate-300 hover:text-slate-100 transition duration-150 ease-in-out"
                            href="{{ .Site.BaseURL }}">Lorem ipsum</a>
                </ul>
            </div>
        </div>
        <div class="md:flex md:items-center md:justify-between pb-4 md:pb-8">
            <ul class="flex mb-4 md:order-1 md:ml-4 md:mb-0 text-xs">
                <li><a class="flex justify-center items-center text-slate-200 hover:text-slate-300 transition duration-150 ease-in-out"
                        aria-label=Twitter href="{{ .Site.BaseURL }}">X / Twitter</a>
                <li class=ml-2><a
                        class="flex justify-center items-center text-slate-200 hover:text-slate-300 transition duration-150 ease-in-out"
                        aria-label=Linkedin
                        href="{{ .Site.BaseURL }}">LinkedIn</a>
                <li class=ml-2><a
                        class="flex justify-center items-center text-slate-200 hover:text-slate-300 transition duration-150 ease-in-out"
                        aria-label=YouTube
                        href="{{ .Site.BaseURL }}">YouTube</a>
                <li class=ml-2><a
                        class="flex justify-center items-center text-slate-200 hover:text-slate-300 transition duration-150 ease-in-out"
                        aria-label=TikTok href="{{ .Site.BaseURL }}">TikTok</a>
            </ul>
            <div class="text-xs text-slate-600">
                <p
                    class="text-slate-300 hover:text-slate-100 transition duration-150 ease-in-out">
                    Dr. Rizwan Ishak Madapeedikekkal. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</footer>