<head>
<meta charset=utf-8>
<meta name=viewport content="width=device-width">
<title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>
<meta name=description
	content="{{ .Site.Params.theme }}">
<meta property=og:type content=website>
<meta property=og:url content="{{ .Site.BaseURL }}" />
<link rel=canonical href="{{ .Site.BaseURL }}" />
<meta name="author" content="{{ .Site.Params.author | default .Site.Title }}">
<meta property=og:title content="{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}">
<meta property=og:description
	content="{{ .Site.Params.theme }}">
<meta property=og:image content=/opengraph.png>
<meta name=twitter:card content=summary_large_image>
<meta name=twitter:site content=@sczconfratlamhq>
<meta name=twitter:title content=sczconfratlam>
<meta name=twitter:description
	content="{{ .Site.Params.theme }}">
<meta name=twitter:image content=/opengraph.png>
<meta name=next-head-count content=17>
<!--<link rel=stylesheet href="{{ .Site.BaseURL }}css/stylesheet_8.css" crossorigin data-n-g> -->
<link rel=stylesheet href="{{ .Site.BaseURL }}css/output.css" crossorigin data-n-g>
<script src="{{ .Site.BaseURL }}js/preline.js"></script>
<script src="{{ .Site.BaseURL }}js/flowbite.min.js"></script>
<meta name=referrer content=no-referrer>
<link type=image/x-icon rel="shortcut icon" href="{{ .Site.BaseURL }}images/6.ico">
<!-- <meta http-equiv=content-security-policy
	content="default-src 'none'; connect-src 'self' data: blob:; font-src 'self' data: blob:; img-src 'self' data: blob:;  frame-src 'self' data: blob:; media-src 'self' data: blob:; object-src 'self' data: blob:;"> -->
{{ partial "head-styles" . }}



<script>
// count-down timer
let dest = new Date("nov 27, 2025 10:00:00").getTime();
let x = setInterval(function () {
let now = new Date().getTime();
let diff = dest - now;

// Check if the countdown has reached zero or negative
if (diff <= 0) {
  clearInterval(x); // Stop the countdown
  return; // Exit the function
}

let days = Math.floor(diff / (1000 * 60 * 60 * 24));
let hours = Math.floor((diff % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
let minutes = Math.floor((diff % (1000 * 60 * 60)) / (1000 * 60));
let seconds = Math.floor((diff % (1000 * 60)) / 1000);

if (days < 10) {
days = `0${days}`;
}
if (hours < 10) {
hours = `0${hours}`;
}
if (minutes < 10) {
minutes = `0${minutes}`;
}
if (seconds < 10) {
seconds = `0${seconds}`;
}

// Get elements by class name
let countdownElements = document.getElementsByClassName("countdown-element");

// Loop through the elements and update their content
for (let i = 0; i < countdownElements.length; i++) {
let className = countdownElements[i].classList[1]; // Get the second class name
switch (className) {
  case "days":
    countdownElements[i].innerHTML = days;
    countdownElements[i].style.opacity= "1";
    break;
  case "hours":
    countdownElements[i].innerHTML = hours;
    break;
  case "minutes":
    countdownElements[i].innerHTML = minutes;
    break;
  case "seconds":
    countdownElements[i].innerHTML = seconds;
    break;
  default:
    break;
}
}
}, 1000);

</script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
<script type="text/javascript">
  function toggledisplay(elementID)
    {
        (function(style) {
            style.display = style.display === 'none' ? '' : 'none';
        })(document.getElementById(elementID).style);
    }

</script>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<noscript data-n-css></noscript>
</head>