<div class="container lg:max-w-9/12 lg:pt-8 lg:mb-16 mx-auto px-6 md:px-12 xl:px-32 ">
<div class="mb-8 text-center">
<h2 class="text-5xl sm:text-4xl lg:text-5xl font-recoleta mb-6 font-semibold text-grey-800">Venue</h2>
</div>
<iframe class="relative left-0 w-full h-96" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d117199.20243669619!2d74.94192420625579!3d23.371024823309416!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3963ff5941bc3147%3A0xa73d88d05c69bd0f!2sDr.%20Laxmi%20Narayan%20Pandey%20Government%20Medical%20College%2C%20Ratlam!5e0!3m2!1sen!2sin!4v1751534906036!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
<div class="md:hidden h-5"></div>