<section class="relative bg-transparent">
  <div
    class="absolute left-1/2 -translate-x-1/2 pointer-events-none -mt-20 -z-10"
    aria-hidden="true"
    style="/*! display: none; */">
    <img
      alt="Illustration"
      loading="lazy"
      width="1440"
      height="440"
      decoding="async"
      data-nimg="1"
      class="max-w-none"
      style="color: transparent"
      src="{{ .Site.BaseURL }}images/blob1.svg" />
  </div>
  <div class="py-8 lg:py-16 mx-auto max-w-screen-xl px-4">
    <div class="pb-8 max-w-6xl mx-auto px-4 sm:px-4 flex sm:justify-center">
      <div class="text-center max-w-5xl">
        <!--<h2
          class="text-3xl sm:text-4xl font-recoleta mb-6 font-semibold text-transparent bg-clip-text bg-gradient-to-r from-blue-500 to-yellow-500"
        >-->
        <h2
          class="text-5xl sm:text-4xl lg:text-5xl font-recoleta mb-6 font-semibold text-grey-800">
          Registration fee
        </h2>
      </div>
    </div>
    <div class="container mx-auto p-6 overflow-x-auto hidden md:block">
      <table class="w-full">
        <caption class="sr-only">
          Registration Fees
        </caption>
        <thead>
          <tr>
            <th></th>
            <th scope="col">
              <h2 class="px-2 text-lg font-medium">Delegate</h2>
              <span class="text-sm">IAPSM Member</span>
            </th>
            <th scope="col">
              <h2 class="px-2 text-lg font-medium">Delegate</h2>
              <span class="text-sm">Non-IAPSM Member</span>
            </th>
            <th scope="col">
              <h2 class="px-2 text-lg font-medium">PG Student</h2>
              <span class="text-sm">IAPSM Member</span>
            </th>
            <th scope="col">
              <h2 class="px-2 text-lg font-medium">PG Student</h2>
              <span class="text-sm">Non-IAPSM Member</span>
            </th>
          </tr>
        </thead>

        <tbody class="space-y-6 text-center divide-y dark:divide-gray-300 pt-4">
          <tr>
            <th scope="row" class="text-left">
              <h3 class="py-3 mt-4">
                Pre-Bird
                <span
                  class="inline-flex items-center gap-x-1.5 py-1.5 px-3 rounded-lg text-sm font-medium bg-yellow-100 text-yellow-800"
                  >Jan-Mar</span
                >
              </h3>
            </th>
            <td>
              <span class="block text-md">&#8377;5000</span>
            </td>
            <td>
              <span class="block text-md">&#8377;6000</span>
            </td>
            <td>
              <span class="block text-md">&#8377;4500</span>
            </td>
            <td>
              <span class="block text-md">&#8377;5500</span>
            </td>
          </tr>
          <tr>
            <th scope="row" class="text-left">
              <h3 class="py-3">
                Early-Bird
                <span
                  class="inline-flex items-center gap-x-1.5 py-1.5 px-3 rounded-lg text-sm font-medium bg-blue-100 text-blue-800"
                  >Apr-Jun</span
                >
              </h3>
            </th>
            <td>
              <span class="block text-md">&#8377;5500</span>
            </td>
            <td>
              <span class="block text-md">&#8377;6500</span>
            </td>
            <td>
              <span class="block text-md">&#8377;5000</span>
            </td>
            <td>
              <span class="block text-md">&#8377;6000</span>
            </td>
          </tr>
          <tr>
            <th scope="row" class="text-left">
              <h3 class="py-3">
                Late-Bird
                <span
                  class="inline-flex items-center gap-x-1.5 py-1.5 px-3 rounded-lg text-sm font-medium bg-pink-100 text-pink-800"
                  >Jul-Sep</span
                >
              </h3>
            </th>
            <td>
              <span class="block text-md">&#8377;7000</span>
            </td>
            <td>
              <span class="block text-md">&#8377;8000</span>
            </td>
            <td>
              <span class="block text-md">&#8377;6500</span>
            </td>
            <td>
              <span class="block text-md">&#8377;7500</span>
            </td>
          </tr>
          <tr>
            <th scope="row" class="text-left">
              <h3 class="py-3">
                On Spot
                <span
                  class="inline-flex items-center gap-x-1.5 py-1.5 px-3 rounded-lg text-sm font-medium bg-teal-100 text-teal-800"
                  >Post Sep</span
                >
              </h3>
            </th>
            <td>
              <span class="block text-md">&#8377;10000</span>
            </td>
            <td>
              <span class="block text-md">&#8377;11000</span>
            </td>
            <td>
              <span class="block text-md">&#8377;9500</span>
            </td>
            <td>
              <span class="block text-md">&#8377;10500</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="md:hidden grid grid-cols-1 sm:grid-cols-2 gap-4 ">
      <div class="bg-white space-y-3 p-4 rounded-lg shadow">
        <div class="text-center font-bold">Delegate IAPSM Member</div>
        <table class="w-full">
          <tr class="border-b border-gray-300">
            <td>
              Pre-Bird
              <span
                class="ml-2 mb-2 mt-2 inline-flex items-center gap-x-1.5 py-1.5 px-3 rounded-lg text-sm font-medium bg-yellow-100 text-yellow-800"
                >Jan-Mar</span
              >
            </td>
            <td>: &#8377;5000</td>
          </tr>
          <tr class="border-b border-gray-300">
            <td>
              Early-Bird<span
                class="ml-2 mb-2 mt-2  inline-flex items-center gap-x-1.5 py-1.5 px-3 rounded-lg text-sm font-medium bg-blue-100 text-blue-800"
                >Apr-Jun</span
              >
            </td>
            <td>: &#8377;5500</td>
          </tr>
          <tr class="border-b border-gray-300">
            <td>
              Late-Bird<span
                class="ml-2 mb-2 mt-2 inline-flex items-center gap-x-1.5 py-1.5 px-3 rounded-lg text-sm font-medium bg-pink-100 text-pink-800"
                >Jul-Sep</span
              >
            </td>
            <td>: &#8377;7000</td>
          </tr>
          <tr>
            <td>
              On-spot<span
                class="ml-2 mb-2 mt-2 inline-flex items-center gap-x-1.5 py-1.5 px-3 rounded-lg text-sm font-medium bg-teal-100 text-teal-800"
                >Post Sep</span
              >
            </td>
            <td>: &#8377;10000</td>
          </tr>
        </table>
      </div>

      <div class="bg-white space-y-3 p-4 rounded-lg shadow">
        <div class="text-center font-bold">Delegate Non-IAPSM Member</div>
        <table class="w-full">
          <tr class="border-b border-gray-300">
            <td>
              Pre-Bird
              <span
                class="ml-2 mb-2 mt-2 inline-flex items-center gap-x-1.5 py-1.5 px-3 rounded-lg text-sm font-medium bg-yellow-100 text-yellow-800"
                >Jan-Mar</span
              >
            </td>
            <td>: &#8377;6000</td>
          </tr>
          <tr class="border-b border-gray-300">
            <td>
              Early-Bird<span
                class="ml-2 mb-2 mt-2  inline-flex items-center gap-x-1.5 py-1.5 px-3 rounded-lg text-sm font-medium bg-blue-100 text-blue-800"
                >Apr-Jun</span
              >
            </td>
            <td>: &#8377;6500</td>
          </tr>
          <tr class="border-b border-gray-300">
            <td>
              Late-Bird<span
                class="ml-2 mb-2 mt-2 inline-flex items-center gap-x-1.5 py-1.5 px-3 rounded-lg text-sm font-medium bg-pink-100 text-pink-800"
                >Jul-Sep</span
              >
            </td>
            <td>: &#8377;8000</td>
          </tr>
          <tr>
            <td>
              On-spot<span
                class="ml-2 mb-2 mt-2 inline-flex items-center gap-x-1.5 py-1.5 px-3 rounded-lg text-sm font-medium bg-teal-100 text-teal-800"
                >Post Sep</span
              >
            </td>
            <td>: &#8377;11000</td>
          </tr>
        </table>
      </div>

      <div class="bg-white space-y-3 p-4 rounded-lg shadow">
        <div class="text-center font-bold">PG Student IAPSM Member</div>
        <table class="w-full">
          <tr class="border-b border-gray-300">
            <td>
              Pre-Bird
              <span
                class="ml-2 mb-2 mt-2 inline-flex items-center gap-x-1.5 py-1.5 px-3 rounded-lg text-sm font-medium bg-yellow-100 text-yellow-800"
                >Jan-Mar</span
              >
            </td>
            <td>: &#8377;4500</td>
          </tr>
          <tr class="border-b border-gray-300">
            <td>
              Early-Bird<span
                class="ml-2 mb-2 mt-2  inline-flex items-center gap-x-1.5 py-1.5 px-3 rounded-lg text-sm font-medium bg-blue-100 text-blue-800"
                >Apr-Jun</span
              >
            </td>
            <td>: &#8377;5000</td>
          </tr>
          <tr class="border-b border-gray-300">
            <td>
              Late-Bird<span
                class="ml-2 mb-2 mt-2 inline-flex items-center gap-x-1.5 py-1.5 px-3 rounded-lg text-sm font-medium bg-pink-100 text-pink-800"
                >Jul-Sep</span
              >
            </td>
            <td>: &#8377;6500</td>
          </tr>
          <tr>
            <td>
              On-spot<span
                class="ml-2 mb-2 mt-2 inline-flex items-center gap-x-1.5 py-1.5 px-3 rounded-lg text-sm font-medium bg-teal-100 text-teal-800"
                >Post Sep</span
              >
            </td>
            <td>: &#8377;9500</td>
          </tr>
        </table>
      </div>

      <div class="bg-white space-y-3 p-4 rounded-lg shadow">
        <div class="text-center font-bold">PG Student Non-IAPSM Member</div>
        <table class="w-full">
          <tr class="border-b border-gray-300">
            <td>
              Pre-Bird
              <span
                class="ml-2 mb-2 mt-2 inline-flex items-center gap-x-1.5 py-1.5 px-3 rounded-lg text-sm font-medium bg-yellow-100 text-yellow-800"
                >Jan-Mar</span
              >
            </td>
            <td>: &#8377;5500</td>
          </tr>
          <tr class="border-b border-gray-300">
            <td>
              Early-Bird<span
                class="ml-2 mb-2 mt-2  inline-flex items-center gap-x-1.5 py-1.5 px-3 rounded-lg text-sm font-medium bg-blue-100 text-blue-800"
                >Apr-Jun</span
              >
            </td>
            <td>: &#8377;6000</td>
          </tr>
          <tr class="border-b border-gray-300">
            <td>
              Late-Bird<span
                class="ml-2 mb-2 mt-2 inline-flex items-center gap-x-1.5 py-1.5 px-3 rounded-lg text-sm font-medium bg-pink-100 text-pink-800"
                >Jul-Sep</span
              >
            </td>
            <td>: &#8377;7500</td>
          </tr>
          <tr>
            <td>
              On-spot<span
                class="ml-2 mb-2 mt-2 inline-flex items-center gap-x-1.5 py-1.5 px-3 rounded-lg text-sm font-medium bg-teal-100 text-teal-800"
                >Post Sep</span
              >
            </td>
            <td>: &#8377;10500</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</section>
